<ion-app>
  <ion-content style="--overflow: auto; height: calc(100% - 56px);">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons style="display: flex; justify-content: space-around;">
        <ion-button routerLink="/transaction-list" routerDirection="forward">
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
        <ion-button routerLink="/add-transaction" routerDirection="forward">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
        <ion-button routerLink="/dashboard" routerDirection="root">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
        <ion-button routerLink="/analytics" routerDirection="forward">
          <ion-icon slot="icon-only" name="analytics"></ion-icon>
        </ion-button>
        <ion-button routerLink="/settings" routerDirection="forward">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-app>
